body{
    background-color:#fbebea;
    margin: 0 auto;
    padding: 0;
    width: 1366px;
    height: auto;
    color: #2d2829;
    font-size: 13pt;
    font-family: 'times new roman';
}
/*font-family: 'Ruslan Display', cursive; - for main text
font-family: 'Indie Flower', cursive;*/
.clearfix/*::after*/ {
    content: "";
    /*display: table;*/
    clear: both;
}
.fl-l {
    float: left;
}

.fl-r {
    float: right; 
}

.m-0-a {
    margin: 0 auto;
}
.h-1850 {
    height: 1850px;
}
.h-400 {
    height: 400px;
}
.t-a-center {
    text-align: center;
}

a {
    text-decoration: none;
} 
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
h2 {
    font-size: 40pt;
    font-family: 'Indie Flower', cursive;
    font-style: initial;
}
.container{
    width: 90%;
}
.article-title {
    font-family: 'times new roman';
}

header {
    width: 100%;
    height: 1022px;
    background-image: url("cake_photo.png"),
                      url("111.png"),
                      url("222.png"),
                      url("333.png");
    background-repeat: no-repeat;
    background-position: 100% 50px,
                        45% 100px,
                        40% 350px,
                        30% 460px;
}
.header-1 {
    height: auto;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;

}
.left-part, .main-nav, .right-part {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}
.right-part{
    margin-top: 13px;
}
.text-logo {
    font-size: 23pt;
}
.number-header {
    font-size: 18pt;
}
.navigation li {
    display: inline;
    font-size: 13pt;
    text-transform: uppercase;
    padding-right: 20px;
   
}
.navigation li:last-child {
    padding-right: 0;
}
.navigation a {
    color: #2d2829;
}
.navigation a:hover {
    color: red;
}

.navigation {
    width: 930px;
}

.head-line-2 {
   margin-top: 0;
   margin-bottom: 0;
   font-size: 36pt;
}

.head-line {
    font-size: 78pt;
    margin-bottom: 0;
}

.choose-cake, .order {
    background-color: #f50049;
    color: white; 
    width: 225px;
    height: 50px;
    border: none;
    border-radius: 50px;
    margin-top: 150px;
    margin-bottom: 50px;
    font-family: 'times new roman';
}

.choose-cake:hover, .order:hover {
   box-shadow: 0 7px 5px #fca9bb;
}
.choose-cake:active, .order:active{
    transform: translateY(5px);
}
.feature-item {
    position: relative;
    text-align: left;
    padding-left: 60px;
    padding-top: 10px;
    float: left;
}
.features {
    padding-top: 90px;
}
.features li:first-child{
    padding-right: 50px;
}
.feature-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    width: 55px;
    height: 55px;
    background-repeat: no-repeat;
}
.feature-ingred::before {
    background-image: url("icon_ingred.png");
    
}
.feature-delivery::before {
    background-image: url("icon_delivery.png");
}
.features h2 {
    text-align: left;
    margin-top: 130px;
}
.ourcakes {
    display: flex;
    height: 1350px;
    flex-flow: column nowrap;
}
.line1, .line2  {
    display: flex;
    flex-flow: column wrap;
    height: 660px;
}

.cake-card {
   background: #ffffff;
   position: relative;
   margin: auto;
   box-shadow: 5px 5px 5px lightslategray;
}
.classic, .kids {
   width: 690px;
   height: 640px;
}
.muss, .wedding, .men, .women {
    width: 500px;
    height: 300px;
}
h6, p{
    margin: 0;
}
.ourcakes h6 {
    font-size: 24pt;
    margin-left: 50px;
    margin-top: 35px;
}
.ourcakes p {
    font-size: 20pt;
    color: #6c6869;
    margin-left: 50px;
}
.kids{
    background: #f3f3f5;
    order: 5;
}
.muss{
    order: 1;
}
.wedding{
    order: 2;
}
.men{
    order: 3;
}
.women {
    order: 4;
}
.ourcakes a {
    position: absolute;
    bottom: 30px;
    right: 50px;
}

.ourcakes a:hover {
    border: 1px solid #f50049;
    border-radius: 50px;
    box-shadow:3px 3px 3px #f50049;
}

.cake-semple {
    position: absolute;
    bottom: 50px;
    right: 15px;
}
.article {
    display: flex;
    flex-flow: column nowrap;
}
.step {
    background: #ffffff;
    margin: auto;
    height: 400px;
    width: 1220px;
    margin-bottom: 30px;
}

.number, .text {
    color: #f50049;
    margin: 10px;
}
.number {
    font-size: 60pt;
}
.text {
    font-size: 30pt;
}
.step img {
    width: 345px;
    height: auto;
}
.step-1, .step-2, .step-3 {
    display: flex;
    flex-flow: row nowrap;
    /*justify-content: space-between;*/
    align-items: center;
}
.part1 {
    width: 160px;
    align-self: flex-start;
}

.step-1 .part1 {
    padding-right: 120px;
}
.karusel-1 {
    width: 670px; 
    overflow: hidden;
    height: 270px;
    position: relative;
    margin: 0 15px;
}
.description {
    width: 300px;
    margin-left: 30px;
}
.description p {
    font-size: 16pt;
    width: 280px;
}
.description h3 {
    padding: 0;
}
.slider{
    transition: margin-left 250ms;
    width: 3000px; /* CHANGE HERE IF MORE ELEMENTS IN THE LIST*/
    height: 260px;
}
.slider li {
    float: left;
    position: relative;
    padding: 0;
    margin: 0;
}
.slider img:active {
    border: 2px solid white;
    box-shadow: 0 0 15px lightgrey;
}
.part2, .part5{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.side-btn {
    border: 3px solid grey;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
}

.btn-left {
    border-top-color: transparent;
    border-right-color: transparent;
}
.btn-right {
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.btn-right:hover{
    border-top-color: #f50049;
    border-right-color: #f50049;
}
.btn-left:hover {
    border-bottom-color: #f50049;
    border-left-color: #f50049;
}
.part4{
    margin-right: 80px;
}
.cake-size {
    position: relative;
    float: left;
    width: 200px;
    padding-top: 210px;
    padding-right: 40px;
    text-align: center;
}

.cake-size::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
}
.size-1::before {
    background-image: url("r1.png");
    background-position:50% 50%;
    width: 115px;
    height: 115px;
    top: 45px;
    left: 45px;   
}

.size-2::before {
    background-image: url("r2.png");
    background-position: 50% 50%;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
}
.size-3::before {
    background-image: url("r3.png"),
                      url("r3-1.png") ;
    background-position: 50% 50%, 50% 50%;
    width: 175px;
    height: 175px;
    top: 15px;
    left: 15px;
}
.size-4::before {
    background-image: url("r4-1.png"),
                      url("r4-2.png"),
                      url("r4-3.png") ;
    background-position: 50% 50%, 50% 50%, 50% 50%;
    width: 205px;
    height: 205px;
    top: 0;
    left: 0;
}
.cake-size:hover::before,  .cake-size:active::before{
    border: 2px solid white;
    box-shadow: 0 0 15px lightgrey;
    border-radius: 50%;
}
.cake-size::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    top: 35%;
    left: 35%;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
}
.size-1::after {
    background-image: url("1kg.png");
    top: 40%;
    
}
.size-2:after {
    background-image: url("2.png");
    top: 40%;
}
.size-3:after {
    background-image: url("5.png");
}
.size-4:after {
    background-image: url("8.png");
}
.part5 {
    width: 970px;
    margin: 0 auto;
    height: 60%;
    display: flex;
    flex-flow: row nowrap;
}
.part5 ul {
    height: 330px;
    width: 3000px;
}
.karusel-2 {
    width: 800px; 
    overflow: hidden;
    height: 335px;
    position: relative;
    margin: 0 15px;
}
.topping-choise {
    position: relative;
    float: left;
    width: 400px;
    height: 330px;
    padding-right: 20px;
    text-align: center;
    vertical-align: bottom;
    font-size: 16pt;
}
.topping-choise span {
    position: absolute;
    bottom: 0;
    left: 149px;
}
.topping-1 {
    margin-right: 20px;
}
.topping-choise::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 300px;
    height: 230px;
    top: 0px;
    left: 60px;
}
.topping-1::before{
    background-image: url("example1.png");

}
.topping-2::before{
    background-image: url("example2.png");
}
.topping-3::before{
    background-image: url("nuts.jpg");
}
.topping-4::before{
    background-image: url("Chocolate-Cage-3.jpg");
}
.topping-5::before{
    background-image: url("flowers.jpg");
}
.topping-6::before{
    background-image: url("cartoon.jpg");
}
.topping-7::before{
    background-image: url("cream_roses.jpg");
}
.topping-4 span {
    left: 100px;
}

.topping-choise:hover, .topping-choise:active {
    box-shadow: 0 0 10px lightslategray; 
}
.step-3 {
    flex-wrap: wrap;
    height: 700px;
    padding-bottom: 50px;
}
.step-3>.part1{
    width: 220px;
    margin-right: 30px;
    background-image: url("444.png");
    background-repeat: no-repeat;
    height: 490px;
    background-position: bottom;
}

.order-form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 1220px;
}
label{
    color: #f50049;
    font-family: 'Indie Flower', cursive;
    font-size: 16pt;
}
input[type="text"] {
    border:none;
    border-bottom: 2px solid #c1b0af;
    font-size: 16pt;
    line-height: 20pt;
}
.order {
    font-size: 14pt;
    text-transform: uppercase;
    margin-top: 40px;
}
.sub-title {
    font-size: 20pt;
    padding-left: 50px;
}
.show-review {
    display: flex;
    flex-flow: row nowrap;
    width: 840px;
    margin: 0 auto;
}
.show-review h3 {
    margin-bottom: 5px;
}
.show-review .side-btn {
    align-self: center;
}
.show-review img {
    width: 200px;
    height: auto;
}
.review-photo-2 {
    border-radius: 50%;
}
.review-conteiner {
    width: 700px;
    height: 215px;
    overflow: hidden;
    position: relative;
}
.review-list {
    width: 5000px;
    height: 215px;
    transition: margin-left 250ms;
}
.review-list li {
    float: left;
    padding: 5px;
    display: flex;
    width: 690px;
}

.review-part {
    width: 450px;
    margin-left: 30px;
}
/* this part was temporary removed 
.show-review dl {
    width: 770px;
    height: 200px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    overflow: hidden;
}
.show-review dt {
    margin: 0;
    width: 210px;
    padding-left: 20px;
}
.show-review dd {
    position: absolute;
    top: 0;
    left: 250px;
    width: 500px;
    min-height: 100px;
    margin: 0;
    font-size: 16px;
}
.show-review dd + dt {
    margin-top: 70px;
}
.show-review dd p {
    width: 500px;
}
*/
.show-review a {
    color: #f50049;
    text-decoration: underline;
    font-style: italic;
}
.about-us {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    height: 500px;
    justify-content: space-between;
    align-items: center;
}
.about-us img {
    width: 450px;
    height: auto;
    display: block;
    margin: auto;
}
.column {
    width: 550px;
}
.column-1 {
    justify-content: flex-start;
}
.column-1 h2 {
    margin-top: 0px;
}
.social {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: white;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-repeat: no-repeat;
}
.instagram {
    background-image: url("instagram.png");
    background-position: 50%;
}
.vk {
    background-image: url("vk.png");
    background-position: 2px 8px;
}
.twitter {
    background-image: url("twitter.png");
    background-position: 14px 16px;
}
.social:hover {
    box-shadow: 0 0 5px #6c6869;
}
.quote {
    height: 300px;
    position: relative;
}
.quote img {
    margin: 20px auto;
    display: block;
}
.quote img:first-child {
    width: 70px;
    height: auto;
}
blockquote {
    width: 500px;
    margin: 20px auto;
    font-style: italic;
    font-weight: bold;
    font-size: 18pt;
    text-align: center;
}
.container-full-w {
    width: 100%;
}

.features-1 {
    background-image: url("il_1.png"),
                      url("il_2.png"),
                      url("il_4.png"),
                      url("il_5.png"),
                      url("fruit_plate.png");
    background-repeat: no-repeat;
    background-position: 340px 60px, 380px 580px, 85px 0, 9px 120px, 0px 110px;
}
.our-features {
    height: 640px;
    position: relative;
}
.our-features h2, .our-features h3 {
    text-align: center;
}

.block-features {
    float: right;
    margin-right: 150px;
    position: relative;
}
.item {
    padding-left: 90px;
    padding-bottom: 50px;
    padding-top: 50px;
}
.item::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
}
.item-product::before {
    background-image: url("icon_ingred.png");
    top: 40px;
    left: 0;
    
}
.item-cake::before {
    background-image: url("icon_cake.png");
    top: 178px;
    left: -14px;
    width: 85px;
}
.block-clients {
    height: 660px;
    background-repeat: no-repeat;
    background-image: 
    url("cake.png"),
    url("il_3.png"), 
                      url("plate.png");
    background-size: 455px auto, 470px auto, 500px auto;
    background-position:  655px 107px, 641px 0px, 625px 85px;
}
.client {
    width: 430px;
    float: left;
}
.how-to-order {
    background: #e5363f;
    height: 700px;
    position: relative;
    background-image: url(gift.png);
    background-repeat: no-repeat;
    color: #ffffff;
}
.block-how {
    float: right;
    margin-right: 50px;
}
/*style for numbers in the list */
.block-how li{
    list-style: none;
    vertical-align: middle;
    font-size: 18pt;
    margin: 15px;
}
.block-how ol {
    counter-reset: myCounter;
    width: 480px;
    padding: 0;
    margin: 0;
}
.block-how li::before {
    counter-increment: myCounter;
    content:counter(myCounter);
    color: white;
    line-height: 100px;
    font-size: 60pt;
    font-weight: bold;
    position: relative;
    float: left;
}
.block-how p {
    padding-left: 55px;
}
.block-how h3 {
    margin: 0;
    margin-top: 100px;
    margin-bottom: 25px;
    font-size: 40pt;
}
.card-logo {
    width: 128px;
    height: 128px;
    background-image: url("card.png");
    background-repeat: no-repeat;
    position: relative;
    top: 180px;
    left: 440px;
    display: inline-block;
}
.card-logo img {
    position: relative;
    top: 45px;
    left: 29px;
}
.contacts-1 {
    height: 840px;
    background-image: url("strawberry.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}
.contacts {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

form {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 40px;
}
.sent-mail input[type="text"] {
    width: 550px;
    box-sizing: border-box;
    height: 30px;
    padding: 9px 15px;
    font: inherit;
    color: inherit;
    background: transparent;
    border-bottom: 2px solid #d5d5d5;
    float: right;
    margin-bottom: 10px;
    margin-top: 10px;
}
.right-side {
    align-self: center;
    margin-top: 60px;
}
.right-side p {
    margin: 15px 0;
}
.right-side div {
    margin-top: 0;
}

footer{
    height: 160px;
    background: #e8e8e8;
}
.social-footer .social {
    background-color: inherit;
    border: none;
}
.p-25-0 {
    padding: 25px 0;
}
.line {
    border: 1px solid #afafaf;
    margin-top: 10px;
}
.copyright {
    color: #afafaf;
    text-align: center;
    margin: 10px;
    font-size: 16pt;
    font-weight: bold;
}

