body {
    max-width: 320px;
    height: auto;
    background-color:#fbebea;
    margin: 0 auto;
    padding: 0;
    color: #2d2829;
    font-family: 'times new roman';
    font-size: 8pt;
    line-height: 10pt;
}
.clearfix/*::after*/ {
    content: "";
    /*display: table;*/
    clear: both;
}
.fl-l {
    float: left;
}

.fl-r {
    float: right; 
}
.m-30-a {
    margin: 30px auto;
}
.m-0-a {
    margin: 0 auto;
}
.t-a-center {
    text-align: center;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
h2 {
    font-family: 'Indie Flower', cursive;
}
.container{
    width: 90%;
}
.article-title {
    font-family: 'times new roman';
}
header {
    width: 100%;
    height: 400px;
    background-image: url("cake-header.png");
    background-repeat: no-repeat;
    
}
.header-1 {
    background-color: rgba(236, 77, 144, 0.4);
    padding-top: 0;
    height: 35px;
    
}
.navigation {
    display: none;
}
.number-header {
    display: none;
}
/* modal menu - start */
.popup-open {
    display: block;
    width: 100%;
    
    text-align: center;
    line-height: 20px;
}

.height-open {
    height: 120px;
}
/* modal menu -finished*/

.hamburger-menu {
    display: block;
    height: 5px;
    width: 20px;
    background-color: red;
    float: right;
    margin-top: 15px;
    margin-right: 20px;
}
.hamburger-menu::before,
.hamburger-menu::after {
    content: "";
    display: block;
    width: 20px;
    height: 5px;
    background-color: red;
}

.hamburger-menu::before {
    transform: translate(0, -10px);
}
.hamburger-menu::after {
    transform: translate(0, 5px);
}
.navigation li:hover {
    color: white;
    background-color: rgb(236, 77, 144);
}
.header-2 {
    text-align: center;
}
.choose-cake, .order {
    background-color: #f50049;
    color: white; 
    width: 225px;
    height: 50px;
    border: none;
    border-radius: 50px;
    margin-top: 10px;
    font-family: 'times new roman';
}

.choose-cake:hover, .order:hover {
   box-shadow: 0 7px 5px #fca9bb;
}
.choose-cake:active, .order:active{
    transform: translateY(5px);
}

.features {
    margin-top: 20px;
}
.feature-item {
    position: relative;
    text-align: left;
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.feature-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 55px;
    height: 55px;
    background-repeat: no-repeat;
}
.feature-ingred::before {
    background-image: url("icon_ingred.png");
    
}
.feature-delivery::before {
    background-image: url("icon_delivery.png");
}

.head-line, 
.head-line-2 {
    font-size: 24pt;
    line-height: 28pt;
    color: white;
    text-shadow: 5px 5px 3px #2d2829;
    margin-top: 15px;
}
.head-line-2 {
    font-size: 18pt;
    line-height: 22pt;
    padding-top: 30px; 
}
.ourcakes {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 90px;
}
.cake-card {
    width: 100%;
    height: auto;
    background-color: white;
    font-size: 12pt;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px lightslategray;
    position: relative;
}
.cake-card h6,
.cake-card p {
    margin: 0;
}
.cake-semple {
    width: 200px;
    height: auto;
}
.ourcakes a {
    position: absolute;
    bottom: 3px;
    right: 10px;
}

.ourcakes a:hover {
    border: 1px solid #f50049;
    border-radius: 50px;
    box-shadow:3px 3px 3px #f50049;
}
/* THIS PART WAS WORKING FROM BEGINING
#individual-order {
    display: flex;
    flex-flow: column nowrap;
}
.step {
    width: 100%;
    background-color: white;
    box-shadow: 5px 5px 5px lightslategray;
}
.part1 {
    color:  #f50049;
    font-weight: bold;
}
.part2 .side-btn {
    display: none;
}
.cake-photo {
    width: 200px;
    height: auto;
}
/* this par not really working*/
/*
.karusel-1 {
    overflow: hidden;
    height: 240px;
}
.slider {
    float: left;
    position: relative;
    left: 0;
    transition: all 0.5s ease-in-out;
}
.part4 {
    width: 200px;
    margin: 0 auto;
    height: 150px;
    overflow: hidden;
}
.part4 ul {
    position: relative;
    left: 0;
    transition: all 0.5s ease-in-out;
}
.cake-size {
    display: inline;
    width: 200px;
}
.cake-size::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
     top: 0;
    left: 50%;
}
.size-1::before {
    background-image: url("r1.png");
}
.size-2::before {
    background-image: url("r2.png");
}
.size-3::before {
    background-image: url("r3.png"),
                      url("r3-1.png") ;
}
.size-4::before {
    background-image: url("r4-1.png"),
                      url("r4-2.png"),
                      url("r4-3.png") ;
}
/* till this */
.article {
    display: flex;
    flex-flow: column nowrap;
}
.step {
    background: #ffffff;
    margin: auto;
    height: 400px;
    width: 1220px;
    margin-bottom: 30px;
}

.number, .text {
    color: #f50049;
    margin: 10px;
}
.number {
    font-size: 60pt;
}
.text {
    font-size: 30pt;
}
.step img {
    width: 345px;
    height: auto;
}
.step-1, .step-2, .step-3 {
    display: flex;
    flex-flow: row nowrap;
    /*justify-content: space-between;*/
    align-items: center;
}
.part1 {
    width: 160px;
    align-self: flex-start;
}

.step-1 .part1 {
    padding-right: 120px;
}
.karusel-1 {
    width: 670px; 
    overflow: hidden;
    height: 270px;
    position: relative;
    margin: 0 15px;
}
.description {
    width: 300px;
    margin-left: 30px;
}
.description p {
    font-size: 16pt;
    width: 280px;
}
.description h3 {
    padding: 0;
}
.slider{
    transition: margin-left 250ms;
    width: 3000px; /* CHANGE HERE IF MORE ELEMENTS IN THE LIST*/
    height: 260px;
}
.slider li {
    float: left;
    position: relative;
    padding: 0;
    margin: 0;
}
.slider img:active {
    border: 2px solid white;
    box-shadow: 0 0 15px lightgrey;
}
.part2, .part5{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.side-btn {
    border: 3px solid grey;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
}

.btn-left {
    border-top-color: transparent;
    border-right-color: transparent;
}
.btn-right {
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.btn-right:hover{
    border-top-color: #f50049;
    border-right-color: #f50049;
}
.btn-left:hover {
    border-bottom-color: #f50049;
    border-left-color: #f50049;
}
.part4{
    margin-right: 80px;
}
.cake-size {
    position: relative;
    float: left;
    width: 200px;
    padding-top: 210px;
    padding-right: 40px;
    text-align: center;
}

.cake-size::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
}
.size-1::before {
    background-image: url("r1.png");
    background-position:50% 50%;
    width: 115px;
    height: 115px;
    top: 45px;
    left: 45px;   
}

.size-2::before {
    background-image: url("r2.png");
    background-position: 50% 50%;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
}
.size-3::before {
    background-image: url("r3.png"),
                      url("r3-1.png") ;
    background-position: 50% 50%, 50% 50%;
    width: 175px;
    height: 175px;
    top: 15px;
    left: 15px;
}
.size-4::before {
    background-image: url("r4-1.png"),
                      url("r4-2.png"),
                      url("r4-3.png") ;
    background-position: 50% 50%, 50% 50%, 50% 50%;
    width: 205px;
    height: 205px;
    top: 0;
    left: 0;
}
.cake-size:hover::before,  .cake-size:active::before{
    border: 2px solid white;
    box-shadow: 0 0 15px lightgrey;
    border-radius: 50%;
}
.cake-size::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    top: 35%;
    left: 35%;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
}
.size-1::after {
    background-image: url("1kg.png");
    top: 40%;
    
}
.size-2:after {
    background-image: url("2.png");
    top: 40%;
}
.size-3:after {
    background-image: url("5.png");
}
.size-4:after {
    background-image: url("8.png");
}
.part5 {
    width: 970px;
    margin: 0 auto;
    height: 60%;
    display: flex;
    flex-flow: row nowrap;
}
.part5 ul {
    height: 330px;
    width: 3000px;
}
.karusel-2 {
    width: 800px; 
    overflow: hidden;
    height: 335px;
    position: relative;
    margin: 0 15px;
}
.topping-choise {
    position: relative;
    float: left;
    width: 400px;
    height: 330px;
    padding-right: 20px;
    text-align: center;
    vertical-align: bottom;
    font-size: 16pt;
}
.topping-choise span {
    position: absolute;
    bottom: 0;
    left: 149px;
}
.topping-1 {
    margin-right: 20px;
}
.topping-choise::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 300px;
    height: 230px;
    top: 0px;
    left: 60px;
}
.topping-1::before{
    background-image: url("example1.png");

}
.topping-2::before{
    background-image: url("example2.png");
}
.topping-3::before{
    background-image: url("nuts.jpg");
}
.topping-4::before{
    background-image: url("Chocolate-Cage-3.jpg");
}
.topping-5::before{
    background-image: url("flowers.jpg");
}
.topping-6::before{
    background-image: url("cartoon.jpg");
}
.topping-7::before{
    background-image: url("cream_roses.jpg");
}
.topping-4 span {
    left: 100px;
}

.topping-choise:hover, .topping-choise:active {
    box-shadow: 0 0 10px lightslategray; 
}
.step-3 {
    flex-wrap: wrap;
    height: 700px;
    padding-bottom: 50px;
}
.step-3>.part1{
    width: 220px;
    margin-right: 30px;
    background-image: url("444.png");
    background-repeat: no-repeat;
    height: 490px;
    background-position: bottom;
}
.order-form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
label{
    color: #f50049;
    font-family: 'Indie Flower', cursive;
    font-size: 12pt;
}
input[type="text"] {
    border:none;
    border-bottom: 2px solid #c1b0af;
    font-size: 12pt;
    line-height: 16pt;
    margin-bottom: 15px;
}
.order {
    font-size: 12pt;
    text-transform: uppercase;
   margin-bottom: 20px;
}
.sub-title {
    font-size: 16pt;
    padding-left: 50px;
} 
#reviews {
    margin: 30px auto;
}
.show-review dt, .show-review dd {
    display: inline-block;
}
.show-review dt {
    width: 20%;
    padding-left: 10px;
}
.show-review dd {
    width: 65%;
    margin-left: 10px;
}
.review img {
    width: 50px;
    height: auto;
    padding-bottom: 50px;
}
.show-review p, 
.show-review h3 {
    margin: 0 5px;
}
.show-review a {
    color: #f50049;
    text-decoration: underline;
    font-style: italic;
}
#about-us {
    display: flex;
    flex-flow: column nowrap;
}

.column-2 {
    width: 150px;
    margin: 0 auto;
}
.column-2 img {
    width: 150px;
}
.social-icons {
    width: 220px;
    margin: 0 auto 10px;
}
.social {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: white;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-repeat: no-repeat;
}
.instagram {
    background-image: url("instagram.png");
    background-position: 50%;
}
.vk {
    background-image: url("vk.png");
    background-position: 2px 8px;
}
.twitter {
    background-image: url("twitter.png");
    background-position: 14px 16px;
}
.social:hover {
    box-shadow: 0 0 5px #6c6869;
}
.quote {
    position: relative;
}
.quote img {
    margin: 20px auto;
    display: block;
}
.quote img:first-child {
    width: 70px;
    height: auto;
}
blockquote {
    width: 80%;
    margin: 20px auto;
    font-style: italic;
    font-weight: bold;
    font-size: 12pt;
    text-align: center;
}
.container-full-w {
    width: 100%;
}

.features-1 {
    background-image: url("il_1.png"),
                      url("il_2.png"),
                      url("il_4.png"),
                      url("il_5.png"),
                      url("fruit_plate.png");
    background-repeat: no-repeat;
    background-position: 340px 60px, 380px 580px, 85px 0, 9px 120px, 0px 110px;
}
.our-features {
    height: 640px;
    position: relative;
}
.our-features h2, .our-features h3 {
    text-align: center;
}

.block-features {
    float: right;
    margin-right: 150px;
    position: relative;
}
.item {
    padding-left: 90px;
    padding-bottom: 50px;
    padding-top: 50px;
}
.item::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
}
.item-product::before {
    background-image: url("icon_ingred.png");
    top: 40px;
    left: 0;
    
}
.item-cake::before {
    background-image: url("icon_cake.png");
    top: 178px;
    left: -14px;
    width: 85px;
}
.block-clients {
    height: 660px;
    background-repeat: no-repeat;
    background-image: 
    url("cake.png"),
    url("il_3.png"), 
                      url("plate.png");
    background-size: 455px auto, 470px auto, 500px auto;
    background-position:  655px 107px, 641px 0px, 625px 85px;
}
.client {
    width: 430px;
    float: left;
}
.how-to-order {
    background: #e5363f;
    height: 700px;
    position: relative;
    background-image: url(gift.png);
    background-repeat: no-repeat;
    color: #ffffff;
}
.block-how {
    float: right;
    margin-right: 50px;
}
/*style for numbers in the list */
.block-how li{
    list-style: none;
    vertical-align: middle;
    font-size: 18pt;
    margin: 15px;
}
.block-how ol {
    counter-reset: myCounter;
    width: 480px;
    padding: 0;
    margin: 0;
}
.block-how li::before {
    counter-increment: myCounter;
    content:counter(myCounter);
    color: white;
    line-height: 100px;
    font-size: 60pt;
    font-weight: bold;
    position: relative;
    float: left;
}
.block-how p {
    padding-left: 55px;
}
.block-how h3 {
    margin: 0;
    margin-top: 100px;
    margin-bottom: 25px;
    font-size: 40pt;
}
.card-logo {
    width: 128px;
    height: 128px;
    background-image: url("card.png");
    background-repeat: no-repeat;
    position: relative;
    top: 180px;
    left: 440px;
    display: inline-block;
}
.card-logo img {
    position: relative;
    top: 45px;
    left: 29px;
}
.contacts-1 {
    height: 840px;
    background-image: url("strawberry.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}
.contacts {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

form {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 40px;
}
.sent-mail input[type="text"] {
    width: 550px;
    box-sizing: border-box;
    height: 30px;
    padding: 9px 15px;
    font: inherit;
    color: inherit;
    background: transparent;
    border-bottom: 2px solid #d5d5d5;
    float: right;
    margin-bottom: 10px;
    margin-top: 10px;
}
.right-side {
    align-self: center;
    margin-top: 60px;
}
.right-side p {
    margin: 15px 0;
}
.right-side div {
    margin-top: 0;
}

footer{
    height: 160px;
    background: #e8e8e8;
}
.social-footer .social {
    background-color: inherit;
    border: none;
}
.p-25-0 {
    padding: 25px 0;
}
.line {
    border: 1px solid #afafaf;
    margin-top: 10px;
}
.copyright {
    color: #afafaf;
    text-align: center;
    margin: 10px;
    font-size: 16pt;
    font-weight: bold;
}

